

body {
    margin: 0;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
}
html {
    scroll-behavior: smooth;
}

main {
    width: 100%;
    height: 100%;
    overflow: scroll;
}


.navbar {
    width: 100%;
    margin: 0px;
    height: calc(50px + 1.5vw);
    background-image: linear-gradient(to right, rgb(8, 8, 7), rgb(9, 148, 21));
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.navbar img {
    height: 50px;
    padding: 5px;
    margin-left: 10px;
    object-fit: cover;
}

.tabs {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tabs * {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    border-right: solid 2px;
    border-color: #ffeea2;
    font-weight: bold;
    padding: 3px 20px 3px 0px;
    transition: background-color 0.3s ease;
}

.tabs *:hover {
    transform: scale(1.1);
    transition: 2s;
}

.shopping-bag {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 17px;
    border-right: 0;
    cursor: pointer;
    transform: scale(1);

}

.bag-number {
    color: #000000;
    margin-top: -61px;
    margin-right: 10px;
    border-right: 0;
    transform: scale(1);
}

.cart-icon {
    margin: 0px 40px 25px 20px;
    border-right: 0;
    transform: scale(1);
}


.options-navbar {
    display: flex;
    flex-direction: row;

}

.products-cart {
    display: none;
}

.products-cart.show {
    display: block;
}

/*
//////////////////////////////////END NAVBAR//////////////////////////////////
*/

.home-landing-page {
    background-image: url("../assets/hermes-rivera-newhL3aprGk-unsplash.jpg");
    background-size: cover;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.home-landing-page .content {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
}



.padelfusion-main{
    color: blue;
}

.home-landing-page p {
    font-size: 1.2em;
    color: #555;
    line-height: 1.5;
}

.home-landing-page ul {
    list-style-type: none;
    padding: 0;
}

.home-landing-page ul li {
    font-size: 1.2em;
    color: #555;
    padding: 10px 0;
}

.home-landing-page ul li:before {
    content: "\2022";
    color: #333;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.shop-landing-page {
    background-image: url("../assets/picture_landing_page_shop.jpg");
    background-size: cover;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.title-shop-landing-page {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}

.content-shop-landing-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.goto-shop {
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
}

.goto-shop p {
    font-size: 1.2em;
    color: #555;
    line-height: 1.5;
}

.goto-shop>* {
    width: 80%;
}

.slider {
    width: 500px;
    height: 500px;
    max-width: 700px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: flex-start; */
    gap: 5px;
}

.slide {
    width: 70%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.slide img {
    width: 100%;
    height: auto;
    /* background-size: cover; */
    border-radius: 10px 10px 0 0;
}

.contBtnsStyle{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    background-color: #09b;
    border-radius: 10px;
}
.contBtnsStyle > *{
    cursor: pointer;
}


.shop-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #09b;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.shop-btn:hover {
    background-color: #077;
}


/*
//////////////////////////////////END SHOP PAGE//////////////////////////////////
*/
.blog-landing-page {
    background-image: url("../assets/picture_landing_page_blogs.jpg");
    background-size: cover;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;

}

.blogs-title-landing-page{
        font-size: 2.5em;
            color: #218b17;
            margin-bottom: 20px;
}

.blogs-container{
    width: 80%;
        display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 10%;
}
.blog-post {
    overflow: hidden;
    width: 35%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;

}

.blog-landing-page h2 {
    text-align: center;
    width: 40%;
    background-color: #fdfdfdc5;
}

.blog-content h3{
    text-align: center;
    background-color: #ffeea2c5;
}

#post1 {
    background-image: url("../assets/blog-pictures/foto1-blog-landing-page-galan-lebron.jpeg");
    background-size: cover;
    /* background-color: rgba(255, 255, 255,  0); */
    /* opacity: 0.7; */
}

#post2 {
    background-image: url("../assets/blog-pictures/foto2-blog-landing-page-padel-virtual.jpeg");
    background-size: cover;
    /* opacity: 0.7; */
}

#post3 {
    background-image: url("../assets/blog-pictures/foto3-blog-landing-page-tere.jpeg");
    background-size: cover;
    /* opacity: 0.7; */
}

.blog-content {
    position: relative;
    top: 70%;
    font-weight: bold;
    color: #000000;
}

.blog-post:hover {
    transform: scale(1.05);
    cursor: pointer;
    transition: transform 0.3s ease;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}
/* Estilos para la ventana emergente */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 80%;
    width:50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    z-index: 2;
    display: none;
}

.popup-content {
    color: #fff;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    cursor: pointer;
}

/*
//////////////////////////////////END BLOG/NEWS PAGE//////////////////////////////////
*/

.aboutus-contactus-landing-page {
    background-image: url("../assets/picture-landingPage-contact-us.jpg");
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 800px;
    gap: 2%;
}

.aboutus-contactus-landing-page > *{
    background-image: linear-gradient(to right, rgb(41, 202, 41), rgb(138, 161, 158));
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    
        
}
iframe{
    height: 60%;
    justify-content: center;
    width: 80%;
}

.test{
    gap: 30px;
    width: 40%;
    margin-left: 5%;
}

.about-contact-container{
    align-items: center;
    justify-content:flex-start;
    margin-right: 5%;
}

.about-contact-container div{
    margin: 5%
}

.about-contact-container>*:hover{
    scale: calc(1.05);
    transition: 0.3s;
}
/* 
.contact-us {
    background-color: aqua;
    border-radius: 5px;
    width: 25%;
    height: 60%;
} */

h1 {
    font-size: 45px;
    font-weight: bold;
    color: rgba(248, 248, 248, 0.781);
    text-align: center;
    -webkit-text-stroke: 1px black;
}

h2 {
    font-size: 45px;
    font-weight: bold;
    color: #096E11;
    text-align: center;
    -webkit-text-stroke: 1px rgb(19, 19, 19);
}

h3 {
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    text-align: center;
}


