body {
    margin: 0;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
}
html {
    scroll-behavior: smooth;
}

main {
    width: 100%;
    height: 100%;
    overflow: scroll;
}


.navbar {
    width: 100%;
    margin: 0px;
    height: calc(50px + 1.5vw);
    background-image: linear-gradient(to right, rgb(8, 8, 7), rgb(9, 148, 21));
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav img {
    height: 225%;
    padding: 5px;
    object-fit: cover;
}

.tabs {
    width: 350px;
    margin-right: 25px;
    display: inline-flex;
    justify-content: space-between;
}

.tabs>*:hover {
    transform: scale(1.1);
    transition: 2s;
}

.tabs> * {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* padding-right: 10px; */
    color: rgb(57, 23, 206);
}

.home-landing-page {
    background-image: url("../assets/hermes-rivera-newhL3aprGk-unsplash.jpg");
    background-size: cover;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.home-landing-page .content {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
}

.home-landing-page h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}

.padelfusion-main{
    color: blue;
}

.home-landing-page p {
    font-size: 1.2em;
    color: #555;
    line-height: 1.5;
}

.home-landing-page ul {
    list-style-type: none;
    padding: 0;
}

.home-landing-page ul li {
    font-size: 1.2em;
    color: #555;
    padding: 10px 0;
}

.home-landing-page ul li:before {
    content: "\2022";
    color: #333;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.shop-landing-page {
    background-image: url("../assets/picture_landing_page_shop.jpg");
    background-size: cover;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.title-shop-landing-page {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}

.content-shop-landing-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.goto-shop {
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
}

.goto-shop p {
    font-size: 1.2em;
    color: #555;
    line-height: 1.5;
}

.goto-shop>* {
    width: 80%;
}

.slider {
    width: 500px;
    height: 500px;
    max-width: 700px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: flex-start; */
    gap: 20px;
}

.slide {
    width: 70%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.slide img {
    width: 100%;
    height: auto;
    /* background-size: cover; */
    border-radius: 10px 10px 0 0;
}

.contBtnsStyle{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    background-color: #09b;
    border-radius: 10px;
}
.contBtnsStyle > *{
    cursor: pointer;
}

.description {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: center;
}

.shop-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #09b;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.shop-btn:hover {
    background-color: #077;
}


/*
********************************************************
*/
.blog-landing-page {
    background-image: url("../assets/picture_landing_page_blogs.jpg");
    background-size: cover;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;

}

.blogs-title-landing-page{
        font-size: 2.5em;
            color: #218b17;
            margin-bottom: 20px;
}

.blogs-container{
    width: 80%;
        display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 10%;
}
.blog-post {
    overflow: hidden;
    width: 35%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;

}

.blog-content > h2{
    opacity: 1;
    display: flex;
    text-align: center;
}

#post1 {
    background-image: url("../assets/blog-pictures/foto1-blog-landing-page-galan-lebron.jpeg");
    background-size: cover;
    /* background-color: rgba(255, 255, 255,  0); */
    /* opacity: 0.7; */
}

#post2 {
    background-image: url("../assets/blog-pictures/foto2-blog-landing-page-padel-virtual.jpeg");
    background-size: cover;
    /* opacity: 0.7; */
}

#post3 {
    background-image: url("../assets/blog-pictures/foto3-blog-landing-page-tere.jpeg");
    background-size: cover;
    /* opacity: 0.7; */
}

.blog-content {
    position: relative;
    top: 70%;
    font-weight: bold;
    color: #000000;
}

.blog-post:hover {
    transform: scale(1.05);
    cursor: pointer;
    transition: transform 0.3s ease;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}
/* Estilos para la ventana emergente */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 80%;
    width:50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    z-index: 2;
    display: none;
}

.popup-content {
    color: #fff;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    cursor: pointer;
}
/*
********************************************************
*/

.aboutus-contactus-landing-page {
    background-image: url("../assets/picture-landingPage-contact-us.jpg");
    background-size: cover;
    /* position: relative; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 800px;
}